Repository tycooon/memery: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script: bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  rubocop_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

test_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[b82868a5d8629f13ace2b788610b00a8beb6336bc8c5d81ea866b681c3f5c174460bcdbe5d5de9efced470b0d5981b32]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

enable branch coverage
  Gemfile.lock
  spec/spec_helper.rb
Due: rubocop, test

update deps
  Gemfile.lock
Due: none

drop ruby 2.7 support
  .github/workflows/ci.yml
  .rubocop.yml
  memery.gemspec
Due: rubocop, test

Add benchmark for empty arguments
  benchmark.rb
Due: rubocop

Remove the memery module object_id from method keys
  lib/memery.rb
Due: rubocop, test

Use the method name as the cache key if no arguments were provided (even if the method's arity is non-zero)
  lib/memery.rb
Due: rubocop, test

Allow the use of hashed arguments to be disabled
  benchmark.rb
  lib/memery.rb
Due: rubocop, test

Fix remaining rubocop failures
  lib/memery.rb
Due: rubocop, test

update ci
  .github/workflows/ci.yml
  Gemfile.lock
Due: none

Restructure code to be on multiple lines, ignore Rubocop failure for now
  lib/memery.rb
Due: rubocop, test

Move configuration of hashed arguments to the Memery module instead of being on a per-class basis
  benchmark.rb
  lib/memery.rb
Due: rubocop, test

Add documentation on the usage of Memery.use_hashed_arguments
  README.md
Due: remark

Disable rubocop rule Metrics/MethodLength for Memery::ClassMethods::MemoizationModule#define_memoized_method!
  lib/memery.rb
Due: rubocop, test

Always include the class name / memoization module id in method keys in order for allow for class inheritance with memoized method overrides
  lib/memery.rb
Due: rubocop, test

Add test for previous commit
  spec/memery_spec.rb
Due: rubocop, test

Add spec for testing logic branches when use_hashed_arguments is false
  spec/memery_spec.rb
Due: rubocop, test

Allow objects with memoized values to be marshaled/unmarshaled across Ruby processes (#51)
  README.md
  benchmark.rb
  lib/memery.rb
  spec/memery_spec.rb
Due: remark, rubocop, test

bump version
  Gemfile.lock
  lib/memery/version.rb
Due: rubocop, test

Memoize can be a on it's own line
  lib/memery.rb
  spec/memery_spec.rb
Due: rubocop, test

Removed blank lines
  spec/memery_spec.rb
Due: rubocop, test

Added more test cases
  spec/memery_spec.rb
Due: rubocop, test

Memoize can be a on its own line (#52)
  lib/memery.rb
  spec/memery_spec.rb
Due: rubocop, test

bump version
  Gemfile.lock
  lib/memery/version.rb
  spec/memery_spec.rb
Due: rubocop, test

drop old rubies
  .github/workflows/ci.yml
  .rubocop.yml
  Gemfile.lock
  lib/memery.rb
  memery.gemspec
Due: rubocop, test
