Repository tycooon/memery: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  container:
    image: ruby:latest
  rubocop_script: bundle exec rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:3.0
  environment:
  ...

bump version
  .travis.yml
  CHANGELOG.md
  Gemfile.lock
  lib/memery/version.rb
  memery.gemspec
  spec/memery_spec.rb
Due: remark, rubocop, test

switch to github actions
  .github/workflows/ci.yml
  .travis.yml
  Gemfile.lock
  memery.gemspec
  spec/spec_helper.rb
Due: rubocop, test

fix changelog
  CHANGELOG.md
Due: remark

fix changelog #2
  CHANGELOG.md
Due: remark

update gemfile
  Gemfile.lock
Due: none

update benchmark
  benchmark.rb
Due: rubocop

refactor and optimize
  lib/memery.rb
  lib/memery/version.rb
Due: rubocop, test

fix gemfile
  Gemfile.lock
Due: none

Update CHANGELOG for 1.4.1 & link CHANGELOG in gemspec
  CHANGELOG.md
  memery.gemspec
Due: remark, rubocop, test

test on ruby 3.1
  .github/workflows/ci.yml
Due: none

allow memoize to take multiple method names
  lib/memery.rb
  spec/memery_spec.rb
Due: rubocop, test

update ci badge
  README.md
  memery.gemspec
Due: remark, rubocop, test

bool as condition
  lib/memery.rb
  spec/memery_spec.rb
Due: rubocop, test

fix
  spec/memery_spec.rb
Due: rubocop, test

make h_class a constant like the others, and rename h_nomemo_class to be clearer
  spec/memery_spec.rb
Due: rubocop, test

drop the testing of ttl on memoize-multiple
  spec/memery_spec.rb
Due: rubocop, test

don't need to track calls here, the specs don't actually invoke these methods
  spec/memery_spec.rb
Due: rubocop, test

define methods via attr_reader
  spec/memery_spec.rb
Due: rubocop, test

allow `memoize` to take multiple method names (#37)
  lib/memery.rb
  spec/memery_spec.rb
Due: rubocop, test

bump version
  Gemfile.lock
  lib/memery/version.rb
Due: rubocop, test

update changelog
  CHANGELOG.md
Due: remark

drop old rubies
  .github/workflows/ci.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Rakefile
  lib/memery.rb
  memery.gemspec
Due: rubocop, test

Add setup_memery_cache! method
  lib/memery.rb
  spec/memery_spec.rb
Due: rubocop, test

Update the README to mention `setup_memery_cache!`
  README.md
Due: remark

README mentions object-shape optimization
  README.md
Due: remark

clear memery cache for specific method
  README.md
  lib/memery.rb
  spec/memery_spec.rb
Due: remark, rubocop, test

Drop dependency on `ruby2_keywords`
  Gemfile.lock
  memery.gemspec
Due: rubocop, test

Add Ruby 3.3 to CI
  .github/workflows/ci.yml
Due: none

Bump GitHub actions
  .github/workflows/ci.yml
Due: none

Bump GitHub actions (#49)
  .github/workflows/ci.yml
Due: none

Drop dependency on `ruby2_keywords` (#47)
  Gemfile.lock
  memery.gemspec
Due: rubocop, test

Add Ruby 3.3 to CI (#48)
  .github/workflows/ci.yml
Due: none

README mentions object-shape optimization (#45)
  README.md
Due: remark

improve readme using chatgpt
  README.md
Due: remark

Update array hash keys to integers
  lib/memery.rb
Due: rubocop, test

Update array hash keys to integers (#50)
  lib/memery.rb
Due: rubocop, test

replace changelog with github releases
  CHANGELOG.md
Due: remark

bundle update
  Gemfile.lock
Due: none

bump version
  Gemfile.lock
  Rakefile
  lib/memery/version.rb
Due: rubocop, test

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  test: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
